<h1>Your order sent</h1>

<p>
	We remind you, that your order is already shipped!
</p>
<table>
	<tr>
		<th colspan="2">Quantity</th>
		<th>Description</th>
	</tr>
		<%= render @order.line_items %>
</table>