/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "colors";
@import "variables";
@import "mixins";


html,body {
	height: 100%;
}

.depot_form {

	fieldset {
		background: $white;
		legend {
			color: $yellow;
			background: $darkbrown;
			font-family: sans-serif;
			padding: 0.2em 1em;
		}
	}
	form {

		label {
			width: 5em;
			float: left;
			text-align: right;
			padding-top: 0.2em;
			margin-right: 0.1em;
			display: block;
		}

		select, textarea, input {
			margin-left: 0.5em;
		}

		.submit {
			margin-left: 4em;
		}

		br {
			display: none;
		}
	}
}

#banner {
	background: $lightgreen;
	padding: 10px;
	border-bottom: 2px solid;
	font: small-caps 40px/40px $font;
	color: $green;
	text-align: center;

		img {
			float: left;
			width: 60px;
			margin-top: -10px;
		}

		#times_visited {
			position: absolute;
			right: 20px;
			top: 20px;
			font: bold 15px $font;
			color: $black;
		}
		.locale {
			margin: 0.25em 0.1em;
		}
	}
	#notice {
		color: $black;
		border: 2px solid red;
		padding: 1em;
		margin-bottom: 2em;
		background-color: lighten($white, 20%);
		font: bold smaller $font;
		}
		
		#columns {
			height: 100%;
			background: $darkbrown;	

			#main {
				height: calc(100% - 80px);
				margin-left: 17em;
				padding: 1em;
				background: $white;
				@include bottomradius(15px);
			}	

			#side {
				float: left;
				padding: 1em 2em;
				width: 13em;
				background: $darkbrown;	

				#admin_panel {
					@include radius(5px);
					background-color: lighten($green, 20%);

					& a {
						color: $darkbrown;
						font-weight: bold;
						&:hover {
							background-color: $white;
						}
					}
					padding: 10px;
				}

				form, div {
  				 display: inline;
				}

				input {
					font-size: small;
				}

				#cart {
					font-size: smaller;
					color: white;

					table {
						border-top: 1px dotted $lightgreen;
						border-bottom: 1px dotted $lightgreen;
						margin-bottom: 10px;
					}
				}
				ul {
					padding: 0;		

				li, & a {
					list-style: none;						
					color: $yellow;
					font-size: small;	
				}
			}
		}
	}

